

.contact {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-secondary-color);
}


.contact .social {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    animation-name: anm-left;
    animation-duration: 1.5s;
}

.contact .social .title-contact {
    font-size: 60px;
    color: var(--light-color);
}

.contact .social span a {
    text-decoration: none;
    color: var(--light-color);
}

.img-contact {
    height: 80vh;
    animation-name: anm-right;
    animation-duration: 1.5s;
}

@keyframes anm-left{
    0%{
        opacity: 0;
        transform: translateX(-70px);
    }
    100%{
        opacity: 100%;
        transform: translateX(0px);
    }
}

@keyframes anm-right{
    0%{
        opacity: 0;
        transform: translateX(70px);
    }
    100%{
        opacity: 100%;
        transform: translateX(0px);
    }
}