.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/code.jpg');
    background-size: cover;
    box-shadow: 0px 0px 3000px black inset;
}

.box-login {
    height: 70vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    border: 3px solid var(--gray-ligth-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2vw;
}

form {
    color: var(--gray-ligth-color);
    display: flex;
    flex-direction: column;
    width: 30vw;
}
form .title {
    font-size: 3vw;
    text-align: center;
}

form label {
    font-size: 1.5vw;
}

form input {
    width: 28vw;
    height: 50px;
    font-size: 20px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--gray-ligth-color);
    color: var(--gray-ligth-color);
    margin: 10px 0px;
}
  

form .submit {
    padding: 10px 30px;
    border: 3px solid var(--light-secondary-color);
    border-radius: 20px;
    background-color: var(--gray-ligth-color);
    font-size: 40px;
    align-self: center;

    cursor: pointer;
    box-shadow: 0px 0px 20px var(--gray-ligth-color);
    transition-duration: 1s;
    outline: none;
}

form .submit:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--gray-ligth-color);
}

form .submit:active {
    transition-duration: 400ms;
    transform: scale(0.8);
}

.box-login .back {
    color: var(--gray-ligth-color);
    align-self: flex-end;
    margin-bottom: 11vh;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 400ms;
}

.box-login .back:hover {
    filter: drop-shadow(0px 0px 10px var(--gray-ligth-color));
    transform: scale(1.2);
}

.box-login .back .icon-back {
    height: 20px;
}